body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  color: #363636;
}

.no-scroll {
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #D4D4D4;
  height: 104px;
  padding-left: 34px;
}

.m-menu {
  display: flex;
  align-items: center;
  height: 100%;
}

.line {
  height: 100%;
  width: 1px;
  background-color: #d4d4d4;
  margin-left: 34px;
}

.search-input {
  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center left;
  margin-left: 34px;
  border: none;
  padding-left: 34px;
  font-size: 18px;
  line-height: 21px;
  color: #A5A5A5;
}

.menu {
  margin-right: 44px;
}

.list-link {
  margin-left: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
}

.group-button {
  height: 100%;
}

.button {
  font-size: 18px;
  line-height: 21px;
  border: none;
  cursor: pointer;
}

.sign-up {
  padding: 40px 34px;
  height: 100%;
  border-left: 1px solid #D4D4D4;
  color: #5671F6;
  background: #FFFFFF;
  cursor: pointer;
}

.sign-in {
  height: 100%;
  background: #5671F6;
  padding: 40px 50px;
  color: #FFFFFF;
  cursor: pointer;
}

.container {
  max-width: 1130px;
  margin: auto;
}

.film {
  margin-top: 80px;
  padding-bottom: 50px;
  border-bottom: 1px solid #D4D4D4;
}

.film-box {
  display: flex;
  justify-content: flex-start;
}

.trailer-box {
  display: flex;
  flex-direction: column;
}

.trailer-container {
  border: 1px solid #D4D4D4;
  border-radius: 0px 0px 5px 5px;
  padding: 25px 0px 25px 81px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.trailer-img {
  border-radius: 5px 5px 0px 0px;
}

.trailer-icon {
  margin-right: 14px;
}

.trailer-button {
  font-size: 16px;
  line-height: 19px;
  color: #5671F6;
}

.film-text {
  margin-left: 60px;
}

.film-text h1 {
  margin: 0px;
  font-size: 36px;
  line-height: 42px;
  color: inherit;
  max-width: 491px;
  margin-bottom: 16px;
}

.film-text span {
  margin: 0px;
  font-size: 18px;
  line-height: 21px;
  color: #A5A5A5;
}

.film-text p {
  margin: 0px;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
  margin-top: 32px;
  margin-bottom: 50px;
  max-width: 514px;
}

.film-table {
  max-width: 516px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.film-table div {
  flex-basis: 50%;
}

.film-table div :nth-child(even) {
  font-size: 16px;
  line-height: 19px;
  color: inherit;
}

.film-table div :nth-child(odd) {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.film-information {
  display: flex;
  align-items: center;
}

.film-information h5 {
  margin: 0px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
}

.percent {
  padding: 34px 24px;
  border: 1px solid #5671F6;
  border-radius: 10px;
  font-size: 28px;
  line-height: 33px;
  color: #5671F6;
  margin-right: 28px;
}

.text-box {
  display: flex;
  flex-direction: column;
}

.text-box :nth-child(1) {
  margin-top: 12px;
  margin-bottom: 7px;
}

.text :nth-child(odd) {
  font-size: 16px;
  line-height: 19px;
  color: inherit;
}

.text :nth-child(even) {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: inherit;
}

.sostav {
  margin-top: 70px;
  padding-bottom: 100px;
}

.sostav span {
  font-size: 24px;
  line-height: 28px;
  color: #A5A5A5;
  margin-right: 30px;
}

.sostav span.active {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: inherit;
}

.actors {
  display: none;
  flex-wrap: wrap;
  margin-top: 25px;
}

.actor {
  flex-basis: 25%;
  margin-top: 35px;
  display: flex;
  align-items: center;
}

.actor div {
  margin-left: 21px;
}

.actor .name {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #5671F6;
}

.actor .en-name {
  font-size: 10px;
  line-height: 19px;
  color: #A5A5A5;
}

.new-cards {
  background: #F3F3F3;
  padding-top: 100px;
  padding-bottom: 100px;
}

.new {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: 900;
}

.cards {
  display: flex;
  margin-top: 65px;
  justify-content: space-between;
}

.card {
  background: #FFFFFF;
  border-radius: 5px;
  margin-top: 65px;
  margin-bottom: 65px;
  padding: 30px 30px 100px 30px;
}

.date {
  margin: 0px;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 14px;
  font-weight: normal;
  text-align: center;
}

.card p {
  margin: 0px;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  float: left;
  margin: 14px 0px 52px 0px;
}

.mobil-button {
  display: none;
}

.mobil-button button {
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 30px;
}

.casts {
  display: none;
  flex-wrap: wrap;
  margin-top: 25px;
}

.cast {
  flex-basis: 25%;
  margin-top: 35px;
  display: flex;
  align-items: center;
}

.cast div {
  margin-left: 21px;
}

.cast .name {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #5671F6;
}

.cast .en-name {
  font-size: 10px;
  line-height: 19px;
  color: #A5A5A5;
}

.casts.activ {
  display: flex;
}

.actors.activ {
  display: flex;
}

.next-button {
  display: none;
  position: absolute;
  top: 150px;
  right: 32px;
  border: none;
  background-color: inherit;
  z-index: 99;
}

@media (max-width: 1200px) {
  .container {
    max-width: 990px;
  }

  .search-input {
    margin-left: 0;
  }

  .menu {
    margin-right: 0;
  }

  .film {
    margin-top: 60px;
  }

  .film-text p {
    margin-top: 16px;
    margin-bottom: 25px;
  }

  .film-table {
    margin-bottom: 25px;
  }

  .percent {
    padding: 25px 20px;
  }

  .actor img {
    width: 80px;
    height: 80px;
  }

  .actor div {
    margin-left: 10px;
  }

  .cast img {
    width: 80px;
    height: 80px;
  }

  .cast div {
    margin-left: 10px;
  }

  .sostav {
    margin-top: 30px;
    padding-bottom: 60px;
  }

  .new-cards {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    flex-basis: 30%;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .sign-up {
    padding: 10px 17px;
  }

  .sign-in {
    padding: 10px 17px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }

  .header {
    padding-left: 10px;
    height: 65px;
  }

  .line {
    margin-left: 10px;
    margin-right: 10px;
  }

  .search-input {
    width: 180px;
  }

  .sign-up {
    border-bottom: 1px solid #D4D4D4;
    padding: 0;
    padding-left: 5px;
    font-size: 15px;
    line-height: 18px;
  }

  .sign-in {
    padding: 0px 5px;
  }

  .menu a {
    font-size: 15px;
    line-height: 18px;
    margin-left: 10px;
  }

  .film-text {
    align-self: center;
  }

  .film-text h1 {
    font-size: 25px;
    line-height: 25px;
  }

  .film-text p {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .film-table div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .actor {
    flex-basis: 50%;
  }

  .actors :nth-child(odd) {
    justify-content: flex-start;
  }

  .actors :nth-child(even) {
    justify-content: flex-end;
  }

  .actors :nth-child(even) div {
    order: -1;
  }

  .actors :nth-child(even) img {
    margin-left: 21px;
  }

  .cast {
    flex-basis: 50%;
  }

  .casts :nth-child(odd) {
    justify-content: flex-start;
  }

  .casts :nth-child(even) {
    justify-content: flex-end;
  }

  .casts :nth-child(even) div {
    order: -1;
  }

  .casts :nth-child(even) img {
    margin-left: 21px;
  }
}
@media (max-width: 768px) {
  .next-button {
    display: inline;
  }

  .new {
    margin-left: 40px;
  }

  .swiper-slide-active {
    margin-left: 40px;
  }

  .swiper-container {
    margin-left: 0px;
    margin-right: 0;
  }

  .sostav .container {
    max-width: 500px;
  }

  .film .container {
    max-width: 600px;
  }

  .film {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .film-box {
    flex-direction: column;
  }

  .trailer-box {
    width: 50%;
    margin-bottom: 30px;
    margin-left: 120px;
  }

  .film-text {
    margin-left: 0px;
  }

  .trailer-img {
    width: 300px;
  }

  .trailer-container {
    width: 120px;
    padding: 25px 89px 25px 89px;
  }

  .header {
    height: 80px;
  }

  .m-menu {
    display: none;
    flex-direction: column;
    top: 60px;
    left: 0;
    position: fixed;
    background: #5671F6;
    width: 100%;
    align-items: center;
  }

  .m-menu.active {
    display: flex;
  }

  .search-input {
    background-image: none;
    margin-top: 60px;
    width: 260px;
    height: 50px;
    border-radius: 5px;
    border: none;
  }

  .group-button {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .sign-up {
    border-top: 1px solid #D4D4D4;
    padding: 0;
    padding-top: 20px;
    margin-bottom: 0px;
    background: #5671F6;
    color: #FFFFFF;
    border-left: 0;
  }

  .sign-in {
    padding: 0;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 66px;
    margin-top: 70px;
  }

  .list-link {
    color: #ffffff;
    margin-left: 0;
    margin-bottom: 18px;
  }

  .list-link:last-child {
    margin-bottom: 0px;
  }

  .line {
    display: none;
  }

  .mobil-button {
    display: inline-block;
  }

  .card {
    width: 260px;
  }

  .swiper-container {
    margin-left: 20px;
  }
}
@media (max-width: 576px) {
  .sostav .container {
    max-width: 300px;
  }

  .film .container {
    max-width: 300px;
  }

  .actors {
    flex-direction: column;
    align-items: flex-start;
  }

  .actors :nth-child(even) div {
    order: 1;
  }

  .actors :nth-child(even) img {
    margin-left: 0;
  }

  .casts {
    flex-direction: column;
    align-items: flex-start;
  }

  .casts :nth-child(even) div {
    order: 1;
  }

  .casts :nth-child(even) img {
    margin-left: 0;
  }

  .film {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .trailer-box {
    margin-left: 0px;
  }

  .trailer-img {
    width: 300px;
  }

  .trailer-container {
    width: 120px;
    padding: 25px 89px 25px 89px;
  }

  .swiper-container {
    margin-left: 20px;
  }
}